In [1]:
from data_script_new import extract_flight_info_from_query,get_flight_info,extract_data_json,parse_json_to_df,convert_duration,calculate_layover,process_dataframe
import json

In [2]:
query = "give me cheapest flight from Bangalore to Mumbai on 10th June"

In [3]:
result = extract_flight_info_from_query(query)
result

{'location_origin': 'BLR',
 'location_destination': 'BOM',
 'departure_date': '2024-06-10',
 'adults': 1}

In [4]:
origin = result['location_origin']
destination = result['location_destination']
departure_date = result['departure_date']
adults = result['adults']

In [5]:
flight_info = get_flight_info(origin, destination, departure_date)

In [31]:
result = extract_flight_info_from_query(query)
print("Information extracted from query : ",result)
print("*"*125)

origin = result['location_origin']
destination = result['location_destination']
departure_date = result['departure_date']
adults = result['adults']

flight_info = get_flight_info(origin, destination, departure_date)

clean_json = [extract_data_json(x) for x in flight_info]
list_of_dicts = [json.loads(json_str) for json_str in clean_json]

flight_df = parse_json_to_df(list_of_dicts)
final_df = process_dataframe(flight_df)

Information extracted from query :  {'location_origin': 'BLR', 'location_destination': 'BOM', 'departure_date': '2024-06-10', 'adults': 1}
*****************************************************************************************************************************

In [32]:
final_df

,Total Journey Duration,price_currency,price_total,Origin Departure Location,origin_departure_time,First Arrival Location,origin_arrival_time,First Flight Duration,hop1_departure_location,hop1_departure_time,hop1_arrival_location,hop1_arrival_time,hop1_duration,number_of_hops,layover_1_duration,origin_airline,hop1_airline
0,0 days 01:40:00,EUR,59.65,BLR,2024-06-10T08:30:00,BOM,2024-06-10T10:10:00,0 days 01:40:00,NaN,NaN,NaN,NaN,NaT,0,NaT,Vistara,NaN
1,0 days 01:45:00,EUR,59.65,BLR,2024-06-10T06:40:00,BOM,2024-06-10T08:25:00,0 days 01:45:00,NaN,NaN,NaN,NaN,NaT,0,NaT,Vistara,NaN
2,0 days 01:45:00,EUR,59.65,BLR,2024-06-10T21:35:00,BOM,2024-06-10T23:20:00,0 days 01:45:00,NaN,NaN,NaN,NaN,NaT,0,NaT,Vistara,NaN
3,0 days 01:50:00,EUR,59.65,BLR,2024-06-10T18:25:00,BOM,2024-06-10T20:15:00,0 days 01:50:00,NaN,NaN,NaN,NaN,NaT,0,NaT,Vistara,NaN
4,0 days 01:45:00,EUR,60.70,BLR,2024-06-10T19:00:00,BOM,2024-06-10T20:45:00,0 days 01:45:00,NaN,NaN,NaN,NaN,NaT,0,NaT,Vistara,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,0 days 18:45:00,EUR,435.77,BLR,2024-06-10T02:00:00,DEL,2024-06-10T04:45:00,0 days 02:45:00,DEL,2024-06-10T18:20:00,BOM,2024-06-10T20:45:00,0 days 02:25:00,1,0 days 13:35:00,HAHN AIR SYSTEMS,HAHN AIR SYSTEMS
66,0 days 19:25:00,EUR,435.77,BLR,2024-06-10T02:00:00,DEL,2024-06-10T04:45:00,0 days 02:45:00,DEL,2024-06-10T19:00:00,BOM,2024-06-10T21:25:00,0 days 02:25:00,1,0 days 14:15:00,HAHN AIR SYSTEMS,HAHN AIR SYSTEMS
67,1 days 00:35:00,EUR,435.77,BLR,2024-06-10T20:10:00,DEL,2024-06-10T23:10:00,0 days 03:00:00,DEL,2024-06-11T18:20:00,BOM,2024-06-11T20:45:00,0 days 02:25:00,1,0 days 19:10:00,HAHN AIR SYSTEMS,HAHN AIR SYSTEMS
68,1 days 01:15:00,EUR,435.77,BLR,2024-06-10T20:10:00,DEL,2024-06-10T23:10:00,0 days 03:00:00,DEL,2024-06-11T19:00:00,BOM,2024-06-11T21:25:00,0 days 02:25:00,1,0 days 19:50:00,HAHN AIR SYSTEMS,HAHN AIR SYSTEMS
69,0 days 20:15:00,EUR,467.27,BLR,2024-06-10T05:40:00,CCU,2024-06-10T08:20:00,0 days 02:40:00,CCU,2024-06-10T23:25:00,BOM,2024-06-11T01:55:00,0 days 02:30:00,1,0 days 15:05:00,HAHN AIR SYSTEMS,HAHN AIR SYSTEMS

In [6]:
flight_1 = flight_info[0]

In [7]:
from amadeus import Client, ResponseError

amadeus = Client(
    client_id='H4S446vjDRHVJn8C0ZDRkXSLt03AvOGp',
    client_secret='2MCfJEBzkSLqYla0'

 )

In [11]:
traveler = {
    'id': '1',
    'dateOfBirth': '1982-01-16',
    'name': {
        'firstName': 'JORGE',
        'lastName': 'GONZALES'
    },
    'gender': 'MALE',
    'contact': {
        'emailAddress': 'jorge.gonzales833@telefonica.es',
        'phones': [{
            'deviceType': 'MOBILE',
            'countryCallingCode': '34',
            'number': '480080076'
        }]
    },
    'documents': [{
        'documentType': 'PASSPORT',
        'birthPlace': 'Madrid',
        'issuanceLocation': 'Madrid',
        'issuanceDate': '2015-04-14',
        'number': '00000000',
        'expiryDate': '2025-04-14',
        'issuanceCountry': 'ES',
        'validityCountry': 'ES',
        'nationality': 'ES',
        'holder': True
    }]
}

In [20]:
traveler_short = {
    'id': '1',
    'dateOfBirth': '1982-01-16',
    'name': {
        'firstName': 'JORGE',
        'lastName': 'GONZALES'
    },
    'gender': 'MALE',
    'contact': {
        'emailAddress': 'jorge.gonzales833@telefonica.es',
        'phones': [{
            'deviceType': 'MOBILE',
            'countryCallingCode': '34',
            'number': '480080076'
        }]
    }
}

In [16]:
price_confirm = amadeus.shopping.flight_offers.pricing.post(
        flight_1).data

In [17]:
price_confirm

{'type': 'flight-offers-pricing',
 'flightOffers': [{'type': 'flight-offer',
   'id': '1',
   'source': 'GDS',
   'instantTicketingRequired': False,
   'nonHomogeneous': False,
   'paymentCardRequired': False,
   'lastTicketingDate': '2024-06-02',
   'itineraries': [{'segments': [{'departure': {'iataCode': 'BLR',
        'terminal': '2',
        'at': '2024-06-10T08:30:00'},
       'arrival': {'iataCode': 'BOM',
        'terminal': '2',
        'at': '2024-06-10T10:10:00'},
       'carrierCode': 'UK',
       'number': '846',
       'aircraft': {'code': '320'},
       'operating': {'carrierCode': 'UK'},
       'duration': 'PT1H40M',
       'id': '98',
       'numberOfStops': 0,
       'co2Emissions': [{'weight': 73,
         'weightUnit': 'KG',
         'cabin': 'ECONOMY'}]}]}],
   'price': {'currency': 'EUR',
    'total': '59.65',
    'base': '46.00',
    'fees': [{'amount': '0.00', 'type': 'SUPPLIER'},
     {'amount': '0.00', 'type': 'TICKETING'},
     {'amount': '0.00', 'type': 'FORM_OF_PAYMENT'}],
    'grandTotal': '59.65',
    'billingCurrency': 'EUR'},
   'pricingOptions': {'fareType': ['PUBLISHED'],
    'includedCheckedBagsOnly': True},
   'validatingAirlineCodes': ['UK'],
   'travelerPricings': [{'travelerId': '1',
     'fareOption': 'STANDARD',
     'travelerType': 'ADULT',
     'price': {'currency': 'EUR',
      'total': '59.65',
      'base': '46.00',
      'taxes': [{'amount': '2.62', 'code': 'P2'},
       {'amount': '7.20', 'code': 'IN'},
       {'amount': '2.38', 'code': 'K3'},
       {'amount': '1.45', 'code': 'YR'}],
      'refundableTaxes': '13.65'},
     'fareDetailsBySegment': [{'segmentId': '98',
       'cabin': 'ECONOMY',
       'fareBasis': 'V0GRPRYS',
       'brandedFare': 'ECOYS',
       'class': 'V',
       'includedCheckedBags': {'weight': 15, 'weightUnit': 'KG'}}]}]}],
 'bookingRequirements': {'emailAddressRequired': True,
  'mobilePhoneNumberRequired': True}}

In [19]:
booked_flight = amadeus.booking.flight_orders.post(
        flight_1, traveler_short).data

In [20]:
booked_flight # 'id': 'eJzTd9cP8wl3ifAHAAvYAoo%3D' : used to get status

# 'associatedRecords': [{'reference': 'VLWDXO' : PNR number

{'type': 'flight-order',
 'id': 'eJzTd9cP83X39nUBAAuRAmw%3D',
 'queuingOfficeId': 'NCE4D31SB',
 'associatedRecords': [{'reference': 'VMGKMD',
   'creationDate': '2024-05-31T08:34:00.000',
   'originSystemCode': 'GDS',
   'flightOfferId': '1'}],
 'flightOffers': [{'type': 'flight-offer',
   'id': '1',
   'source': 'GDS',
   'nonHomogeneous': False,
   'lastTicketingDate': '2024-05-31',
   'itineraries': [{'segments': [{'departure': {'iataCode': 'BLR',
        'terminal': '2',
        'at': '2024-06-10T08:30:00'},
       'arrival': {'iataCode': 'BOM',
        'terminal': '2',
        'at': '2024-06-10T10:10:00'},
       'carrierCode': 'UK',
       'number': '846',
       'aircraft': {'code': '320'},
       'duration': 'PT1H40M',
       'id': '98',
       'numberOfStops': 0,
       'co2Emissions': [{'weight': 73,
         'weightUnit': 'KG',
         'cabin': 'ECONOMY'}]}]}],
   'price': {'currency': 'EUR',
    'total': '59.65',
    'base': '46.00',
    'fees': [{'amount': '0.00', 'type': 'TICKETING'},
     {'amount': '0.00', 'type': 'SUPPLIER'},
     {'amount': '0.00', 'type': 'FORM_OF_PAYMENT'}],
    'grandTotal': '59.65',
    'billingCurrency': 'EUR'},
   'pricingOptions': {'fareType': ['PUBLISHED'],
    'includedCheckedBagsOnly': True},
   'validatingAirlineCodes': ['UK'],
   'travelerPricings': [{'travelerId': '1',
     'fareOption': 'STANDARD',
     'travelerType': 'ADULT',
     'price': {'currency': 'EUR',
      'total': '59.65',
      'base': '46.00',
      'taxes': [{'amount': '7.20', 'code': 'IN'},
       {'amount': '2.38', 'code': 'K3'},
       {'amount': '2.62', 'code': 'P2'},
       {'amount': '1.45', 'code': 'YR'}],
      'refundableTaxes': '13.65'},
     'fareDetailsBySegment': [{'segmentId': '98',
       'cabin': 'ECONOMY',
       'fareBasis': 'V0GRPRYS',
       'brandedFare': 'ECOYS',
       'class': 'V',
       'includedCheckedBags': {'weight': 15, 'weightUnit': 'KG'}}]}]}],
 'travelers': [{'id': '1',
   'dateOfBirth': '1982-01-16',
   'gender': 'MALE',
   'name': {'firstName': 'JORGE', 'lastName': 'GONZALES'},
   'contact': {'purpose': 'STANDARD',
    'phones': [{'deviceType': 'MOBILE',
      'countryCallingCode': '34',
      'number': '480080076'}],
    'emailAddress': 'jorge.gonzales833@telefonica.es'}}],
 'ticketingAgreement': {'option': 'CONFIRM'},
 'automatedProcess': [{'code': 'IMMEDIATE',
   'queue': {'number': '0', 'category': '0'},
   'officeId': 'NCE4D31SB'}]}

# Delete order

In [63]:
response = amadeus.booking.flight_order('eJzTd9cPi3D08w0AAAvFAoA%3D').delete()
print(response.data)

None

In [22]:
response

# track of original json

In [25]:
import pandas as pd

In [24]:
type(flight_info[0])

dict

In [26]:
pd.DataFrame(flight_info)

,type,id,source,instantTicketingRequired,nonHomogeneous,oneWay,lastTicketingDate,lastTicketingDateTime,numberOfBookableSeats,itineraries,price,pricingOptions,validatingAirlineCodes,travelerPricings
0,flight-offer,1,GDS,False,False,False,2024-05-31,2024-05-31,9,"[{'duration': 'PT1H40M', 'segments': [{'depart...","{'currency': 'EUR', 'total': '59.65', 'base': ...","{'fareType': ['PUBLISHED'], 'includedCheckedBa...",[UK],"[{'travelerId': '1', 'fareOption': 'STANDARD',..."
1,flight-offer,2,GDS,False,False,False,2024-05-31,2024-05-31,9,"[{'duration': 'PT1H45M', 'segments': [{'depart...","{'currency': 'EUR', 'total': '59.65', 'base': ...","{'fareType': ['PUBLISHED'], 'includedCheckedBa...",[UK],"[{'travelerId': '1', 'fareOption': 'STANDARD',..."
2,flight-offer,3,GDS,False,False,False,2024-05-31,2024-05-31,9,"[{'duration': 'PT1H45M', 'segments': [{'depart...","{'currency': 'EUR', 'total': '59.65', 'base': ...","{'fareType': ['PUBLISHED'], 'includedCheckedBa...",[UK],"[{'travelerId': '1', 'fareOption': 'STANDARD',..."
3,flight-offer,4,GDS,False,False,False,2024-05-31,2024-05-31,9,"[{'duration': 'PT1H50M', 'segments': [{'depart...","{'currency': 'EUR', 'total': '59.65', 'base': ...","{'fareType': ['PUBLISHED'], 'includedCheckedBa...",[UK],"[{'travelerId': '1', 'fareOption': 'STANDARD',..."
4,flight-offer,5,GDS,False,False,False,2024-05-31,2024-05-31,9,"[{'duration': 'PT1H45M', 'segments': [{'depart...","{'currency': 'EUR', 'total': '60.70', 'base': ...","{'fareType': ['PUBLISHED'], 'includedCheckedBa...",[UK],"[{'travelerId': '1', 'fareOption': 'STANDARD',..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,flight-offer,66,GDS,False,False,False,2024-06-02,2024-06-02,9,"[{'duration': 'PT18H45M', 'segments': [{'depar...","{'currency': 'EUR', 'total': '435.77', 'base':...","{'fareType': ['PUBLISHED'], 'includedCheckedBa...",[HR],"[{'travelerId': '1', 'fareOption': 'STANDARD',..."
66,flight-offer,67,GDS,False,False,False,2024-06-02,2024-06-02,9,"[{'duration': 'PT19H25M', 'segments': [{'depar...","{'currency': 'EUR', 'total': '435.77', 'base':...","{'fareType': ['PUBLISHED'], 'includedCheckedBa...",[HR],"[{'travelerId': '1', 'fareOption': 'STANDARD',..."
67,flight-offer,68,GDS,False,False,False,2024-06-02,2024-06-02,9,"[{'duration': 'PT24H35M', 'segments': [{'depar...","{'currency': 'EUR', 'total': '435.77', 'base':...","{'fareType': ['PUBLISHED'], 'includedCheckedBa...",[HR],"[{'travelerId': '1', 'fareOption': 'STANDARD',..."
68,flight-offer,69,GDS,False,False,False,2024-06-02,2024-06-02,9,"[{'duration': 'PT25H15M', 'segments': [{'depar...","{'currency': 'EUR', 'total': '435.77', 'base':...","{'fareType': ['PUBLISHED'], 'includedCheckedBa...",[HR],"[{'travelerId': '1', 'fareOption': 'STANDARD',..."
69,flight-offer,70,GDS,False,False,False,2024-06-02,2024-06-02,9,"[{'duration': 'PT20H15M', 'segments': [{'depar...","{'currency': 'EUR', 'total': '467.27', 'base':...","{'fareType': ['PUBLISHED'], 'includedCheckedBa...",[HR],"[{'travelerId': '1', 'fareOption': 'STANDARD',..."

# Traveler info

In [9]:
from langchain import LLMChain, OpenAI, PromptTemplate
from langchain_openai import ChatOpenAI

In [52]:
prompt_template = PromptTemplate(
    template="""
    Extract the following information from the text and provide the output as a dictionary with the specified keys:
    - First Name
    - Last Name
    - Date of Birth
    - Gender
    - Email Address
    - Phone Number
    - Country Calling Code

    Text: "{text}"

    Output dictionary format:
    {{
        "id": "1",
        "dateOfBirth": "<Date of Birth>",
        "name": {{
            "firstName": "<First Name>" (This should be in capital letters),
            "lastName": "<Last Name>" (This should be in capital letters)
        }},
        "gender": "<Gender>", (This should be in capital letters)
        "contact": {{
            "emailAddress": "<Email Address>",
            "phones": [{{
                "deviceType": "MOBILE",
                "countryCallingCode": "<Country Calling Code>",
                "number": "<Phone Number>"
            }}]
        }}
    }}
    """,
    input_variables=["text"]
)

In [53]:
llm = ChatOpenAI(model_name="gpt-3.5-turbo")

In [54]:
llm_chain = LLMChain(llm=llm, prompt=prompt_template)

# Function to convert input text to JSON using GPT
def convert_to_dict(text):
    response = llm_chain.run(text=text).strip()
    try:
        # Directly parse the response into a dictionary
        parsed_response = json.loads(response)
        return parsed_response
    except json.JSONDecodeError as e:
        raise ValueError(f"Failed to parse JSON from response: {response}") from e

In [55]:
# Example input
input_text = "My name is Saurabh Bairagi, Male. I was born on 1982-01-16, email is xyz@example.com, and phone no. is 7771234567 with country code as 91"

# Convert input text to JSON
traveler_short_dict = convert_to_dict(input_text)

# Print the resulting JSON
print(traveler_short_dict)

# Verify that the output is a dictionary
print(type(traveler_short_dict))

{'id': '1', 'dateOfBirth': '1982-01-16', 'name': {'firstName': 'SAURABH', 'lastName': 'BAIRAGI'}, 'gender': 'MALE', 'contact': {'emailAddress': 'xyz@example.com', 'phones': [{'deviceType': 'MOBILE', 'countryCallingCode': '91', 'number': '7771234567'}]}}
<class 'dict'>

In [56]:
traveler_short_dict

{'id': '1',
 'dateOfBirth': '1982-01-16',
 'name': {'firstName': 'SAURABH', 'lastName': 'BAIRAGI'},
 'gender': 'MALE',
 'contact': {'emailAddress': 'xyz@example.com',
  'phones': [{'deviceType': 'MOBILE',
    'countryCallingCode': '91',
    'number': '7771234567'}]}}

In [57]:
type(traveler_short_dict)

dict

In [58]:
(traveler_short)

{'id': '1',
 'dateOfBirth': '1982-01-16',
 'name': {'firstName': 'JORGE', 'lastName': 'GONZALES'},
 'gender': 'MALE',
 'contact': {'emailAddress': 'jorge.gonzales833@telefonica.es',
  'phones': [{'deviceType': 'MOBILE',
    'countryCallingCode': '34',
    'number': '480080076'}]}}

In [59]:
type(traveler_short)

dict

In [60]:
booked_flight = amadeus.booking.flight_orders.post(
        flight_1, traveler_short_dict).data

In [61]:
booked_flight # eJzTd9cPi7AI9g4EAAutAns%3D  # eJzTd9cPi3D08w0AAAvFAoA%3D

{'type': 'flight-order',
 'id': 'eJzTd9cPi3D08w0AAAvFAoA%3D',
 'queuingOfficeId': 'NCE4D31SB',
 'associatedRecords': [{'reference': 'VXANMP',
   'creationDate': '2024-06-02T06:23:00.000',
   'originSystemCode': 'GDS',
   'flightOfferId': '1'}],
 'flightOffers': [{'type': 'flight-offer',
   'id': '1',
   'source': 'GDS',
   'nonHomogeneous': False,
   'lastTicketingDate': '2024-06-02',
   'itineraries': [{'segments': [{'departure': {'iataCode': 'BLR',
        'terminal': '2',
        'at': '2024-06-10T08:30:00'},
       'arrival': {'iataCode': 'BOM',
        'terminal': '2',
        'at': '2024-06-10T10:10:00'},
       'carrierCode': 'UK',
       'number': '846',
       'aircraft': {'code': '320'},
       'duration': 'PT1H40M',
       'id': '98',
       'numberOfStops': 0,
       'co2Emissions': [{'weight': 73,
         'weightUnit': 'KG',
         'cabin': 'ECONOMY'}]}]}],
   'price': {'currency': 'EUR',
    'total': '59.65',
    'base': '46.00',
    'fees': [{'amount': '0.00', 'type': 'TICKETING'},
     {'amount': '0.00', 'type': 'SUPPLIER'},
     {'amount': '0.00', 'type': 'FORM_OF_PAYMENT'}],
    'grandTotal': '59.65',
    'billingCurrency': 'EUR'},
   'pricingOptions': {'fareType': ['PUBLISHED'],
    'includedCheckedBagsOnly': True},
   'validatingAirlineCodes': ['UK'],
   'travelerPricings': [{'travelerId': '1',
     'fareOption': 'STANDARD',
     'travelerType': 'ADULT',
     'price': {'currency': 'EUR',
      'total': '59.65',
      'base': '46.00',
      'taxes': [{'amount': '7.20', 'code': 'IN'},
       {'amount': '2.38', 'code': 'K3'},
       {'amount': '2.62', 'code': 'P2'},
       {'amount': '1.45', 'code': 'YR'}],
      'refundableTaxes': '13.65'},
     'fareDetailsBySegment': [{'segmentId': '98',
       'cabin': 'ECONOMY',
       'fareBasis': 'V0GRPRYS',
       'brandedFare': 'ECOYS',
       'class': 'V',
       'includedCheckedBags': {'weight': 15, 'weightUnit': 'KG'}}]}]}],
 'travelers': [{'id': '1',
   'dateOfBirth': '1982-01-16',
   'gender': 'MALE',
   'name': {'firstName': 'SAURABH', 'lastName': 'BAIRAGI'},
   'contact': {'purpose': 'STANDARD',
    'phones': [{'deviceType': 'MOBILE',
      'countryCallingCode': '91',
      'number': '7771234567'}],
    'emailAddress': 'xyz@example.com'}}],
 'ticketingAgreement': {'option': 'CONFIRM'},
 'automatedProcess': [{'code': 'IMMEDIATE',
   'queue': {'number': '0', 'category': '0'},
   'officeId': 'NCE4D31SB'}]}

In [67]:
s1  = str([0, 'The flight you requested has been booked.'])

In [68]:
type(s1)

str

In [70]:
import ast

In [71]:
ast.literal_eval(s1)

[0, 'The flight you requested has been booked.']

In [72]:
from traveler_information import get_info

In [73]:
get_info("My name is Saurabh Bairagi, Male. I was born on 1982-01-16, email is xyz@example.com, and phone no. is 7771234567 with country code as 91")

{'id': '1',
 'dateOfBirth': '1982-01-16',
 'name': {'firstName': 'SAURABH', 'lastName': 'BAIRAGI'},
 'gender': 'MALE',
 'contact': {'emailAddress': 'xyz@example.com',
  'phones': [{'deviceType': 'MOBILE',
    'countryCallingCode': '91',
    'number': '7771234567'}]}}

In [79]:
pnr_no = booked_flight['associatedRecords'][0]['reference']

'VXANMP'

In [75]:
id_ = booked_flight['id']

'eJzTd9cPi3D08w0AAAvFAoA%3D'

In [ ]:
llm_chain = LLMChain(llm=llm, prompt=prompt_template)

# Function to convert input text to JSON using GPT
def convert_to_dict(text):
    response = llm_chain.run(text=text).strip()
    try:
        # Directly parse the response into a dictionary
        parsed_response = json.loads(response)
        return parsed_response
    except json.JSONDecodeError as e:
        raise ValueError(f"Failed to parse JSON from response: {response}") from e